- if @messages
  - @messages.each do |message|
    .message
      %p.upper-message__user-name
        = message.user.name
      %p.upper-message__date
        = message.created_at.to_s(:default)
      %p.lower-message__content
        = message.text
      = image_tag message.image.url, class: 'lower-message__image' if message.image.present?
