.user_comments
  - current_user.groups.each do |group|
    .group
      = link_to group_messages_path(group) do
        %p.group__name
          = group.name
        %p.group__message
          = group.show_last_message
