!!! 5
%html
  %head
    %title HamlTest
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track'
    = javascript_include_tag 'application', 'data-turbolinks-track'
    = csrf_meta_tags

  %body
    %header
    %contents
      % side-bar
        % top
        % main
      % main
        % top
        % main
    %footer
      $ message
      $ send-button
