// Place all the styles related to the message controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
  .wrapper{
    height: 100vh;
    width: 100vw;
    .contents{
      height: 100%;
      width: 100%;
      .user{
        height: 100%;
        width: 300px;
        float: left;
        &-contents{
          background: #253141;
          height: 96px;
          width: 260px;
          display: table-cell;
          vertical-align: middle;
          padding: 0 20px 0;
          h3.user-contents__name{
            color: $sidebarUserFontColor;
            font-size: 16px;
            font-style: bold;
            float:left;
          }
          li{
            list-style-type: none
          }
          i{
            color: white;
            float: right;
          }
        }
        .user-message{
          background: #2f3e51;
          height: calc(100% - 96px);
          width: 260px;
          padding: 0 20px 0;
          p.group__name{
            width: 260px;
            color: $sidebarUserFontColor;
            font-size: 15px;
            padding: 20px 0 5px;
            word-wrap: break-word;
          }
          p.group__message{
            width: 260px;
            color: $sidebarUserFontColor;
            font-size: 11px;
            margin-bottom: 40px;
            word-wrap: break-word;
          }
        }
      }
      .group{
        height: 100%;
        width: calc(100vw - 300px);
        float: left;
        &-contents{
          height: 96px;
          width: calc(100% - 80px);
          border: 0.5px solid #eeeeee;
          padding: 0 40px 0;
          .group-name{
            color: #333333;
            font-size: 20px;
            padding: 35px 0 15px;
          }
          ul.members{
            color: #999999;
            font-size: 12px;
            margin-right: 10px;
            float: left;
          }
          li.members{
            color: #999999;
            font-size: 12px;
            margin-right: 10px;
            float: left;
            list-style-type: none
          }
          .group-contents__edit{
            height: 40px;
            width: 60px;
            color: $mainBlueColor;
            text-align: center;
            border: 1px solid $mainBlueColor;
            margin: 28px 0  0;
            float: right;
            #group-contents__edit{
              color: $mainBlueColor;
              text-decoration: none;
              vertical-align: middle;
              line-height: 40px;
            }
          }
        }
        &-message{
          height: calc(100% - 99px - 90px);
          width: 100%;
          overflow: auto;
          .message{
             margin: 46px 40px 40px;
            p.upper-message__user-name{
              color: #434A54;
              font-size: 16px;
              margin-bottom: 10px;
              font-weight: bold;
              float: left;
            }
            p.upper-message__date{
              color: #999999;
              font-size: 12px;
              margin-bottom: 10px;
              padding-left: 10px;
              float: left;
            }
            p.lower-message__content{
              color: #434A54;
              font-size: 14px;
              margin-top: 10px;
              clear: both;
            }
            .lower-message__image{
              margin: 0 auto;
            }
          }
        }
        footer{
          background: #DDDDDD;
          width: calc(100% - 80px);
          height: 90px;
          padding:0 40px 0;
          #the-form{
            height: 50px;
            padding: 20px 0 20px;
            position: relative;
            #message_text{
              height: 50px;
              width: calc(100% - 40px - 100px);
              color: #434A54;
              font-size: 16px;
              padding-left: 10px;
              overflow: scroll;
              position: absolute;
            }
            .form__mark{
              position: absolute;
              right: 130px;
              .form__mask__image{
                i{
                margin: 20px 10px 20px 0;
                }
                #message_image{
                  display: none;
                  background: green;
                }
              }
            }
            .form__submit{
              background: $mainBlueColor;
              height: 50px;
              width: 100px;
              color: white;
              float: right;
            }
          }
        }
      }
    }
  }
